# macos
.DS_Store

# (Vim swap files)
*.swp 

# tmux plugins
tmux/.config/tmux/plugins/

# fish
fish/.config/fish/fish_variables
fish/.config/fish/conf.d

# zed
zed/.config/zed/prompts
zed/.config/zed/conversations
zed/.config/zed/themes
