#fish
fish/.config/fish/functions/*
!fish/.config/fish/functions/switch_theme.fish
fish/.config/fish/fish_variables
fish/.config/fish/completions
fish/.config/fish/conf.d

# zed
zed/.config/zed/prompts
zed/.config/zed/conversations
zed/.config/zed/themes
